* {padding:0;margin:0;-webkit-box-sizing:border-box;box-sizing:border-box;}

html {font-family: 'Roboto', sans-serif;}
body,html {overflow-x:hidden;width:100%;}

a {text-decoration:none;}
.cor1, a {color:rgb(27, 152, 248)}

.bt-show-menu {display:none;}
nav {height:100%;background:rgb(37, 42, 58);width:150px;position:absolute;top:0;bottom:0;z-index:3}
nav ul {list-style:none;margin-top:30px;}
nav ul li a {display:block;padding:10px 15px;color:#FFF;}

.search-page {position:fixed;background:lightsteelblue;opacity:.98;padding:10px;width:100%;box-shadow:0 1px 3px 1px rgba(0,0,0,.4);}
.search-page input[type="text"] {background:rgba(255,255,255,.15);box-shadow:none;}

aside {position:absolute;top:0;z-index:3;bottom:0;width:325px;left:150px;border-right:1px solid #EEE;overflow-x:hidden;overflow-y:auto;background:#FFF;-webkit-overflow-scrolling:touch;z-index:1;}
aside ul {list-style:none;padding-top:55px;}
aside ul li {border-bottom:1px solid #EEE;}
aside ul li > input[type="radio"] {position:absolute;top:-9999px;left:-9999px;}
aside ul li > label {display:block;padding:15px 15px 15px 15px;min-height:94px;cursor:pointer;}
aside ul li > label.inactive {opacity:.5;}
aside ul li > label.inactive .indicator, aside ul li > label.inactive .number {background:grey}
aside ul li > label:hover {background:#F5F5F5;}
aside ul li > input[type="radio"]:checked + label {background:teal;opacity:1;color:#FFF;}
aside .indicator {float:left;width:4px;height:64px;background:limegreen;margin-right:15px;}
aside .indicator-negative {background:crimson;}
aside .number {float:left;width:64px;height:64px;background:limegreen;margin-right:15px;font-size:42px;line-height:60px;color:#FFF;text-align:center;font-weight:300;}
aside .number-close {float:left;width:64px;height:64px;background:crimson;margin-right:15px;font-size:42px;line-height:60px;color:#FFF;text-align:center;font-weight:300;}

section {position:absolute;right:0;left:475px;top:0;bottom:0;background:#EEE;padding:0 30px;overflow-y:auto;z-index:2;}


h1 {font-size:50px;font-weight:100;text-align:center;line-height:182%;border-bottom:1px solid #DDD;margin-bottom:15px;}

h3 {font-size:19px;font-weight:700;}
h4 {font-size:11px;font-weight:600;text-transform:uppercase;}
p {font-size:13px;font-weight:400;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}

.text-center {text-align:center;}

.field {padding:15px 0;float:left;width:100%;}
.label {display:block;font-size:16px;font-weight:400;padding-bottom:2px;}

input[type="text"], select, textarea {
	height:40px;
	background:#FFF;
	border:0;
	font-size:16px;
	padding:4px 10px;
	font-family:'Roboto';
	box-shadow:0 0 6px -2px rgba(0,0,0,.1);
	float:left;
	-webkit-appearance:none;
	margin-right:5px;
}

select {overflow-x:hidden;}
textarea {height:auto;width:100%;}

input[type="button"]{background:rgb(27, 152, 248);border:0;height:40px;padding:10px 15px;border-radius:2px;font-weight:600;font-size:14px;color:#FFF;cursor:pointer;float:left;margin-right:5px;}
input[type="button"]:hover {background:rgb(0, 122, 248);}

input.bt-success {background:limegreen;}
input.bt-negative {background:crimson;}
input.bt-alert {background:goldenrod;}

.button-bar {padding:30px 0;}
.button-bar input[type="button"] {float:none;}

.check-set label {float:left;padding:10px 30px 10px 0;font-size:16px;cursor:pointer;}
.check-set input[type="checkbox"] {-webkit-appearance:none;background:transparent;border:2px solid #333;height:16px;width:16px; margin-right:5px;float:left;margin-top:3px;}
.check-set input[type="checkbox"]:checked {background:darkcyan;border:1px solid #FFF;box-shadow:0 0 2px 1px rgba(0,0,0,.5)}
.check-set input[type="checkbox"]:checked ~ span{color:darkcyan}
.check-set label:hover * {color:#777;border-color:#777;}
.check-set-vt {display:inline-block;}
.check-set-vt label {width:100%;}


.row {display:table;}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
	float:left;
}

.col-1 {width:8.3333%;}
.col-2 {width:16.6666%;}
.col-3 {width:25%;}
.col-4 {width:33.3333%;}
.col-6 {width:50%;}
.col-7 {width:58.3333%}
.col-9 {width:75%;}

@media (max-width:992px) {
	nav {left:0;right:0;bottom:inherit;height:46px;width:auto;}
	aside {left:0;top:46px;}
	section {left:325px;top:46px;padding:0;}
	.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
		float:left;
		width:100%;
		padding-left:15px;
		padding-right:15px;
	}
	h1 {font-size:24px;font-weight:300;text-align:left;padding-left:15px;padding-right:15px;background:#F5F5F5;border-bottom:0;}
}

@media (min-width:769px) and (max-width:991px) {
	nav ul {float:right;}
	nav ul li {float:left;}
}

@media (max-width:768px) {
	nav ul {display:none;}
	aside {right:0;width:auto;}
	.bt-show-menu {display:block;position:absolute;top:0px;right:0px;width:60px;height:46px;background:rgba(0,0,0,.5);line-height:46px;color:#FFF;z-index:4;text-align:center;font-size:13px;}
	.bt-show-menu:hover ~ nav, nav:hover {height:auto;}
	.bt-show-menu:hover ~ nav ul, nav ul:hover{display:block;margin-top:40px;}
	section {left:0;overflow-x:hidden;display:none;-webkit-animation:animate-section .3s linear;}
	.section-show {display:block;}
	h1 {font-size:15px;font-weight:600;}
	.button-bar {padding-left:15px;}
	
	@-webkit-keyframes animate-section  {
		from {-webkit-transform:translate3d(100%,0,0)}
		to {-webkit-transform:translate3d(0,0,0)}
	}
}

.toggle {position:relative;border:1px solid #DDD;background:#EEE;width:100px;height:40px;border-radius:4px;}
.toggle label {position:absolute;top:0;bottom:0;left:0;right:0;}
.toggle input[type="radio"] {position:absolute;z-index:3;-webkit-appearance:none;bottom:0;top:0;width:40px;background:#FAFAFA;box-shadow:0 0 5px 0 rgba(0,0,0,.3);border-radius:4px;cursor:pointer;}
.toggle input[type="radio"]:hover {background:#EEE;}
.toggle span{border-radius:4px;display:none;height:100%;background:lightseagreen;color:#FFF;font-size:14px;line-height:38px;padding:0 13px;font-weight:400;}
.toggle input[type="radio"]:checked {display:none;}
.toggle input[type="radio"]:checked ~ span {display:block;}
.toggle input[value="1"] {left:0;-webkit-animation:animate-toggle-inactive .3s ease-in;}
.toggle input[value="0"] {right:0;-webkit-animation:animate-toggle-active .3s ease-in;}
.toggle input[value="0"] ~ span {text-align:right;background:firebrick;padding:0 7px;}

@-webkit-keyframes animate-toggle-active  {
	from {-webkit-transform:translate3d(-60px,0,0)}
	to {-webkit-transform:translate3d(0,0,0)}
}

@-webkit-keyframes animate-toggle-inactive  {
	from {-webkit-transform:translate3d(60px,0,0)}
	to {-webkit-transform:translate3d(0,0,0)}
}
/* Barra de rolagem*/
::-webkit-scrollbar {width: 6px;height: 6px;	margin-left:4px;}
::-webkit-scrollbar-track-piece {background: none;}
::-webkit-scrollbar-thumb:vertical {background: rgba(0,0,0,.3);border:0;border-radius:1px;}
::-webkit-scrollbar-thumb:horizontal {background: rgba(0,0,0,.3);border: 1px solid rgba(255,255,255,.2);}

.estiloPopup{display: none;position: absolute;top:0px;left:0px;background-color: #EEE;border: 2px #000 solid;}